<p id="notice"><%= notice %></p>

<p>
  <strong>Driver:</strong>
  <%= @driver.driver_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @driver.name %>
</p>

<p>
  <strong>License number:</strong>
  <%= @driver.license_number %>
</p>

<%= link_to 'Edit', edit_driver_path(@driver) %> |
<%= link_to 'Back', drivers_path %>
